<!-- 头部 -->
<div app-header back="isBack" title-text="设置定制信息"></div>

<div custom-top-title title-text="“告诉我你期待的工作地点?”"></div>
<div class="headerFillBlock"></div>

<div class="customAllSelected">
	<ul class="list">
		<li class="item">
			<p class="title">职位类型</p>
			<p class="type tc">Java</p>
		</li>
		<li class="item">
			<p class="title">工作地点</p>
			<p class="type tc">北京</p>
		</li>
		<li class="item">
			<p class="title">期望薪水</p>
			<p class="type tc">5K-10K</p>
		</li>
		<li class="item">
			<p class="title">公司规模</p>
			<p class="type tc">初创型</p>
		</li>
	</ul>
</div>

<button class="searchBtn tc" type="button">开始搜索</button>