@rem :37.5;  /*iphone 6 模型*/
@baseUrl:'../image/';

@import 'common/baseClass';
@import 'common/baseColor';
@import 'common/baseFn';
@import "common/iconfont";

@import 'component/customTopTitle';
@import 'component/appCityList';
@import 'component/appCustomOptions';
@import 'component/appPositionList';

/*page*/
@import 'page/main';
@import 'page/positionDetail';
@import 'page/login';
@import 'page/register';
@import 'page/search';
@import 'page/customForPosition';
@import 'page/customForSearch';



*{
  margin: 0;
  padding:0;
}

html,body{
  height:100%;
  width:100%;
}
.headerFillBlock{
	.h(40);
}