/** page colors style **/
@bg:#ebebeb;
@headerBg:#00b38a;
@wc:#fff;
@footerBg:#f6f6f6;
@footerColor:#c2cfcc;
@footerActiveBg:#e7f3f0;
@footerActiveColor:#25be9b;
@btnGray:#f5f5f5;
@btnGreen:#00b38a;
@borderColor:#eaeaea;
@starColor:#ffea60;
@fontGray:#8f8f8f;
@titleBg:#d2f9f0;
